In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("../artifacts/data.csv")
df.head()

,Patient ID,Age,Gender,Vaccination Date,Vaccine Dose,Pre-existing Conditions,Heart Attack Date,Heart Attack Related to Vaccine,Severity,Outcome,Location,Blood Pressure,Cholesterol Level,BMI,Smoking History,Diabetes Status
0,392,27,Female,2022-01-16,2nd Dose,Heart Disease,NaN,False,NaN,NaN,Washington,Very High,350,19.0,Yes,Yes
1,448,77,Female,2023-02-17,2nd Dose,Heart Disease,2023-03-24,True,NaN,NaN,Denver,High,220,39.0,Yes,Yes
2,953,42,Female,2022-09-17,2nd Dose,NaN,NaN,False,NaN,NaN,San Jose,Very High,250,27.0,No,Yes
3,410,41,Female,2022-02-03,2nd Dose,NaN,2012-08-19,False,NaN,NaN,Los Angeles,High,180,28.4,Yes,No
4,977,28,Male,2022-03-04,2nd Dose,Hypertension,NaN,False,NaN,NaN,Chicago,Very High,350,37.7,Yes,Yes

In [14]:
df[['Blood Pressure', 'Diabetes Status', 'Gender', 'Heart Attack Related to Vaccine', 'Location', 'Pre-existing Conditions', 'Smoking History', 'Vaccine Dose']]

,Blood Pressure,Diabetes Status,Gender,Heart Attack Related to Vaccine,Location,Pre-existing Conditions,Smoking History,Vaccine Dose
0,Very High,Yes,Female,False,Washington,Heart Disease,Yes,2nd Dose
1,High,Yes,Female,True,Denver,Heart Disease,Yes,2nd Dose
2,Very High,Yes,Female,False,San Jose,NaN,No,2nd Dose
3,High,No,Female,False,Los Angeles,NaN,Yes,2nd Dose
4,Very High,Yes,Male,False,Chicago,Hypertension,Yes,2nd Dose
...,...,...,...,...,...,...,...,...
9995,Low,Yes,Female,False,Indianapolis,Asthma,No,Booster
9996,High,Yes,Male,False,Philadelphia,Diabetes,Yes,Booster
9997,Low,No,Male,False,Seattle,Asthma,No,2nd Dose
9998,High,No,Male,False,Los Angeles,NaN,Yes,2nd Dose
9999,Normal,Yes,Female,False,San Antonio,Hypertension,No,1st Dose

In [15]:
df.select_dtypes(include=["number"]).columns.difference(['User_ID'])

Index(['Age', 'BMI', 'Cholesterol Level', 'Outcome', 'Patient ID', 'Severity'], dtype='object')

In [16]:
df['Heart Attack Date'] = pd.to_datetime(df['Heart Attack Date'], errors='coerce')
df['Heart Attack Date'].apply(lambda x: 1 if x else 0)

0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: Heart Attack Date, Length: 10000, dtype: int64

In [17]:
df['Heart Attack Date'].notna().astype(int).sum()

3060